<h1>Введите вот это всё</h1>
<!-- <form action="/users" method="post" accept-charset="UTF-8">
  <label for="email">Email: </label>
  <input type="text" name="user[email]"><br>
  <label for="username">Username: </label>
  <input type="text" name="user[username]"><br>
  <label for="password">Password: </label>
  <input type="password" name="user[password]"><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form> -->
<!-- <%= form_tag("/users", method: "post") do %>
<%= text_field_tag(:email) %>
<%= text_field_tag(:username) %>
<%= password_field_tag(:password) %>
<%= submit_tag("Submit.") %>
<% end %> -->
<%= form_for @user do |f| %>
<ul>
  <% @user.errors.full_messages.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<p>
  <%= f.label :username, :value => "Имя Пользователя" %> <br/>
  <%= f.text_field :username %>
</p>
<p>
  <%= f.label :email %> <br/>
  <%= f.text_field :email, :value => "example@email.com" %>
</p>
<p>
  <%= f.label :password %> <br/>
  <%= f.password_field :password %>
</p>
<p><%= f.submit %></p>

<% end %>
